* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0, 50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;


}

main {
  height: calc(100vh - 100px);
  background-color: cornflowerblue;
  display: flex;
}

#sidebar {
  width: 300px;
  height: 100%;
  background-color: black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
  height: 100%;
  width: calc(100vw - 300px);
  overflow-y: auto;
  color: #fff;
  background-color: #141922;
}

/*Tools*/
.t-white {
  color: #fff;
}

/*LAYOUT*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.row {
  display: flex;
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

.col-16 {
  width: calc(100% / 6 - 10px);
}

.col-20 {
  width: 20%;
}

.col-60 {
  width: 60%;
}

/*Common*/
header .btn-header {
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  padding: 10px 50px;
  height: 50px;
}

/*content menu*/
.nav a {
  color: #74767B;
  text-decoration: none;
  font-size: 1.3em;
}

.nav ul {

  list-style: none;
  justify-content: center;
  margin-top: 90px;
}


.nav ul #selected::after {
  display: block;
  width: 45px;
  height: 3px;
  background-color: lime;
  margin-left: 45px;
  content: "";
}

/*Sidebar*/

/*Sidebar Menu*/

#sidebar .logo img {
  width: 200px;
  margin: 20px 30px;
}

#sidebar ul li {
  margin: 20px 10px;
  display: flex;
  align-items: center;
}

#sidebar ul li img {
  width: 40px;
}

#sidebar a {
  color: #74767B;
  text-decoration: none;
  font-size: 1.3em;
}

#sidebar ul .on {
  padding-left: 10px;
  margin: 20px 0;
  border-left: 3px solid lime;
}

#sidebar .on a {
  color: #fff;
}

/*Sidebar playlist*/
#sidebar h3 {
  color: #fff;
  font-weight: 900;
  margin-left: 13px;
}

#sidebar .playlist {
  margin-top: 30px;
}

#sidebar .square {
  color: black;
  padding: 10px 25px;
  background-color: #fff;
  font-size: 2.5em;
  font-weight: 1000;
}

.playlist ul li .new-playlist {
  margin-left: 10px;
}

/*Sidebar Footer*/
#sidebar .sb-footer {
  color: #74767B;
}

#sidebar .sb-footer img {
  width: 30px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 3px;
  border-radius: 50%;
  background-color: #74767B;
  width: 50px;
  margin-top: 10px;
}

.circle img {
  width: 100%;

}

.sb-top-footer,
.sb-bottom-footer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.sb-top-footer {
  border-bottom: 1px solid #74767B;
  padding-bottom: 20px;
  cursor: pointer;
}

.sb-top-footer a {
  margin-left: 15px;
}

.sb-bottom-footer {
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: 1000;
  padding-bottom: 10px;
  cursor: pointer;
}

.sb-bottom-footer a {
  margin-left: 15px;
}

/*Footer*/
.footer-left {
  display: flex;
  align-items: center;
}

.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin: 10px;
  margin-left: 10px;
}


.footer-left .footer-img img {
  width: 100%;

}

.footer-left .fa-regular {
  color: #74767B;
  margin: 10px;
  font-size: 1.4em;
}

.footer-left .fa-regular:hover {
  color: lime;
  cursor: pointer;
}

.player-song-name h6 {
  font-size: 1.3em;
  font-weight: 700;
}

.player-song-name span {
  font-size: 1.1em;
  color: #74767B;
  font-weight: 700;
}